.alerta{
  border:solid 1px red;
  .alert-wrapper {
    background: orange;//#e5e5e5;
    border:solid 1px red;
  }
}
button{
  border:solid 1px red !important;
}
.alert-button.sc-ion-alert-md{
  color: orange !important;
}
